#more:target {
  outline: none;
}

@mixin badge_hover() {
  position: relative;

  &:hover {
    transform: scale(2);
    z-index: 1;
    filter: var(--drop-shadow);
  }
}

#discord {
  border-radius: 47px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left-container {
    display: flex;
    flex-direction: row;
    
    & > :not(:last-child) {
      margin-inline-end: 16px;
    }
  }

  .pfp-container {
    position: relative;
    width: 70px;
    height: 70px;
    display: inline-block;

    .pfp {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid var(--fg-muted-2);
      margin: 0;
    }

    .indicator-background {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: var(--bg-color);
      overflow: hidden;

      #online-indicator {
        width: 100%;
        height: 100%;
        border-radius: 50%;

        &.online {
          background-color: var(--green-fg);
          border: 5px solid var(--green-fg-muted-2);
        }

        &.idle {
          background-color: var(--yellow-fg);
          border: 5px solid var(--yellow-fg-muted-2);
        }

        &.dnd {
          background-color: var(--red-fg);
          border: 5px solid var(--red-fg-muted-2);
        }

        &.offline {
          background-color: var(--fg-muted-2);
          border: 5px solid var(--fg-muted-2);
        }
      }
    }
  }

  .pill-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .username-container {
      .username {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-x-large);
        font-family: var(--font-monospace);
      }

      .platform {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-semi-bold);
        color: var(--accent-color);
        margin-left: 4px;
      }
    }

    #status {
      font-size: var(--font-size-medium);
    }
  }

  .button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0;
    padding: 0;

    font-size: var(--font-size-large);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.masonry {
	column-gap: 0.5rem;
	columns: auto 16rem;
	margin: 0;
	margin-block-start: 2rem;
	padding: 0;
	list-style: none;

	& > li {
		display: contents;
		margin: 0;
		padding: 0;

		article {
			break-inside: avoid;
			margin-block-end: 0.5rem;
			box-shadow: var(--edge-highlight), var(--shadow);
			border-radius: var(--rounded-corner);
			background-color: var(--bg-muted-1);
			padding: 1rem;

			:first-child {
				margin-block-start: 0;
			}

			:last-child {
				margin-block-end: 0;
			}
		}
	}
}

.badges {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 2rem 0;

  * {
    margin: 0;
    padding: 0;
    width: 88px;
    height: 31px;
  }

  &:hover {
    & img:not(:hover) {
      opacity: 0.7;
      filter: saturate(0.5);
    }
  }

  img {
    @include badge_hover();
  }
}

.badge {
  @include badge_hover();
  width: 132px;
}
