#more:target {
  outline: none;
}

@mixin badge_hover() {
  &:hover {
    transform: scale(2);
    z-index: 1;
    filter: var(--drop-shadow);
  }
}

.badges {
  display: grid;
  grid-template-columns: repeat(auto-fit, 88px);
  grid-gap: 5px;
  margin: 2rem 0;
  
  * {
    margin: 0;
    padding: 0;
    width: 88px;
    height: 31px;
  }
  img {
    @include badge_hover();
  }
}

.badge {
  @include badge_hover();
  width: 132px;
}
