.masonry {
    column-gap: 0.5rem;
    columns: auto 16rem;
    margin: 0;
    margin-block-start: 2rem;
    padding: 0;
    list-style: none;

    & > li {
        display: contents;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: var(--text-color);

            article {
                transition: transform 0.45s ease-out;

                &:hover {
                    transform: translateY(-0.5rem);
                }
            }
        }

        article {
            break-inside: avoid;
            margin-block-end: 0.5rem;
            box-shadow: var(--edge-highlight);
            border-radius: var(--rounded-corner);
            background-color: var(--accent-color-alpha);
            padding: 1rem;

            position: relative;

            img.icon {
                height: 3rem;
                width: auto;
                margin: 0.2rem;

                filter: brightness(0) invert(1);
            }

            :first-child {
                margin-block-start: 0;
            }

            :last-child {
                margin-block-end: 0;
            }

            h2,
            p {
                width: 60%;
            }
        }
    }
}
