@use "../themes/ametrine/sass/mods/_pill-tags";

// Arrow icon on button links
$icon-arrow-right: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"%3E%3Cpath d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"/%3E%3C/svg%3E');

.buttons a::after {
  content: "";
  display: inline-block;
  vertical-align: -0.1em;
  margin-inline-start: 0.25rem;
  width: 0.85em;
  height: 0.85em;
  mask-image: #{$icon-arrow-right};
  -webkit-mask-image: #{$icon-arrow-right};
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: currentColor;
}

// Badges (88x31 buttons)
@mixin badge_hover() {
  position: relative;

  &:hover {
    transform: scale(2);
    z-index: 1;
    filter: var(--drop-shadow);
  }
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 2rem 0;

  * {
    margin: 0;
    padding: 0;
    width: 88px;
    height: 31px;
  }

  &:hover {
    & img:not(:hover) {
      opacity: 0.7;
    }
  }

  img {
    @include badge_hover();
  }
}

.badge {
  @include badge_hover();
  width: 132px;
}
