.tape {
  position: fixed;
  width: 100vh;
  height: 20px;
  background: repeating-linear-gradient(
    -45deg,
    var(--bg-muted-2) 0,
    var(--bg-muted-2) 16px,
    var(--bg-color) 16px,
    var(--bg-color) 32px
  );
  z-index: -1;

  &.tape-1 {
    top: 15vh; right: -15vw;
    transform: rotate(45deg);
  }

  &.tape-2 {
    top: 30vh; left: -20vw;
    transform: rotate(-70deg);
  }
  
  @media (max-width: 600px) {
    &.tape-1 {
      top: 85vh; left: -70vw;
      transform: rotate(20deg);
    }
    &.tape-2 {
      top: 10vh; left: -90vw;
      transform: rotate(-75deg);
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    &.tape-1 {
      top: 80vh; left: -50vw;
      transform: rotate(60deg);
    }
    &.tape-2 {
      top: 10vh; left: -50vw;
      transform: rotate(-20deg);
    }
  }
}
